body{
  background-color: #2B303D;
  -webkit-font-smoothing: antialiased;
  font-weight: normal !important;
  font-style: normal;
}
.header{
   width: auto;
   margin: Auto;
   height: 5em;
   background: #B20C27;
   /* esto es flex */
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   /* fin de flex */
}

.cuerpo {
    height: auto;
    width: auto;
}

.logo{
  margin-left: 3em;
}

.derco {
  width: 7em;
}

.cuerpo{

    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: #555;
    background-size: cover;
    background-position: 50% 50%;
    background-blend-mode: multiply;
    background-image: url("../img/fondo.png");
    /* esto es flex */
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* fin de flex */
}
.img{
  height: auto;
}
.form{
    display: block;
    padding: 15px;
    margin:auto;;
    margin-bottom: 50px;
    color: white;
    max-width: 350px;
    height: auto;
    min-height: 20em;
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0.2);
    /*float: left;*/
    align-self: flex-start;
}

.titulo{
  padding-top: 3em;
  margin: auto;
  color: rgba(255, 255, 255, 0.65);
  text-transform: uppercase;
  font-family: 'bold';
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  line-height: 1.42857143;

}
.bajada{
  margin: auto;
  color: rgba(255, 255, 255, 0.65);
  text-transform: uppercase;
  font-family: 'bold';
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.42857143;
  margin-bottom: 5em;
}
.linea{
  height: 5px;
  background: #B20C27;
}
.footer {
  /* esto es flex */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  /* fin de flex */
    height: 3em;
    width: auto;
    background: #2B303D;
}

.lfooter{
 margin-top: 6px;
  align-self: flex-start;
}
.social
{
  margin-top: 6px;
  display: flex;
  flex-direction: row;
}
.facebook{
  margin-right: 3px;
    margin-left: 3px;
    width:30px;
}

.facebook img{
  width:100%;
  height: auto;
}

.Twitter{
  margin-right: 3px;
    margin-left: 3px;
    width:30px;
}
.Twitter img{
  width:100%;
  height: auto;
}

.Youtube{
  margin-right: 3px;
    margin-left: 3px;
    width:30px;
}
.Youtube img{
  width:100%;
  height: auto;
}

.copy{
  color: rgba(255, 255, 255, 0.65);
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  margin: auto;
  align-self: flex-end;
}

.dercocel{
  display:none;
}
